@import "../../global.module.sass"

.container
    display: grid
    font-family: $common_font
    color: $navy
    margin: -1rem 2rem 0 6rem
    @include phone
        align-items: center
        margin: 1.5rem 2rem 0 6rem
