@import "../../global.module.sass"

.format
    color: $navy
    font-family: $common_font
    font-size: 2.5rem
    @include phone
        width: 12rem
        font-size: 1.5rem
        display: flex
        margin: 0.2rem 0 0 4rem
        padding-top: 2rem
