@import  "../../global.module.sass"

.container
    @include desktop
        color: $navy
        font-family: $common_font
        /*border*/
        border: 0
        width: 2.5rem
        border-bottom: 0.02rem solid $super_blue
        outline: none
    @include phone
        color: $navy
        font-family: $common_font
        /*border*/
        border: 0
        width: 9rem
        border-bottom: 0.05rem solid $navy
        outline: none
