@import  "../../global.module.sass"

.container
    color: $navy
    font-family: $common_font
    border: 0
    border-bottom: 0.02rem solid $super_blue
    outline: none
    width: 2.5rem
    @include phone
        width: 3rem
