@import "../../global.module.sass"

.container
    /*border*/
    border: 0
    outline: none
    border-bottom: 0.02rem solid $super_blue
    @include desktop
        /*border*/
        width: 2.5rem
    @include phone
        width: 2rem
        font-size: 0.3rem
