@import "../../global.module.sass"

.container
    @include desktop
        /*border*/
        border: 0
        width: 2.5rem
        border-bottom: 0.02rem solid $super_blue
        outline: none
    @include phone
        border: 0
        width: 4rem
        font-size: 0.8rem
        border-bottom: 0.02rem solid $super_blue
        outline: none
