@import "../../global.module.sass"
.button
    background: white
    color: $navy
    font-family: $common_font
    border: none
    outline: none
    background: transparent
    @include phone
        display: grid
        align-items: center
        justify-content: center
        width: 9rem
        font-size: 0.8rem
        padding-right: 5rem
