@import "../../global.module.sass"

.container
    display: none
    @include phone
        display: inline-block
        background-color: $silver
        font-size: 1.5rem
        padding: 0.2rem 0 0 4rem
        width: 20rem
        height: 2rem
        margin: 0rem 0 0 -1rem
