@import "../../global.module.sass"

.container
    @include phone
        display: grid
        height: 38rem
        padding: 2rem 0 0 0.5rem

        button
            margin: 2rem 0 0 3rem
            width: 4rem
            height: 1rem
            font-size: 0.7rem
