@import "../../global.module.sass"

.container
    display: grid
    font-size: 3rem
    text-align: center
    justify-content: center
    gap: 3rem
    button
        margin: 1rem 0 0 6rem
        width: 8rem
