@import "../../global.module.sass"
.container
    display: grid
    align-items: center
    font-size: 0.15rem
    margin: 0.1rem 0rem 0.3rem 5.5rem
    @include phone
        font-size: 0.2rem
        margin: 0 0 0 0.3rem
