@import "../../global.module.sass"

.container
    @include desktop
    font-family: $common_font
    color: $navy
    height: 4rem
    width: 7rem
    font-size: 0.3rem
    margin: 1rem 0 0 5rem
    border: 0 !important
    button
        font-family: $common_font
        border-radius: 0.5rem
        line-height: 0.3rem
    @include phone
        font-family: $common_font
        display: grid
        color: $navy
        height: 23.6rem
        font-size: 1rem
        margin: 1rem 0 0 4.5rem
        padding: 5rem 0 10rem 0
        border: 0 !important

        button
            font-family: $common_font
            font-size: 0.5rem
            border-radius: 5rem
            line-height: 0.7rem
