@import "../../global.module.sass"

.container
    font-family: $common_font
    color: $navy
    height: 4rem
    width: 7rem
    font-size: 0.3rem
    margin: 1rem 0 0 5rem
    border: 0 !important

    button
        font-family: $common_font
        border-radius: 0.5rem
        line-height: 0.3rem
