@import "../../global.module.sass"

.container
    @include desktop
        display: flex
        gap: 0.2rem
        align-items: center
        font-size: 0.16rem
    @include phone
        display: flex
        gap: 0.5rem
        font-size: 0.8rem
        align-items: center
        margin: 0 0 0 -1rem
