@import "../../global.module.sass"

.title
    display: flex
    color: $navy
    font-family: $common_font
    justify-content: center
    align-items: center
    margin: -5rem 16rem 0 0
    @include phone
        margin: -5rem 16rem 0 0.3rem
