@import  "../../global.module.sass"

.secondaryTextbox
    color: $navy
    font-family: $common_font
    border: 0
    outline: none
    width: 15rem
    border-bottom: 0.02rem solid
    @include phone
        width: 13rem
        border-bottom: 0.05rem solid
        border-radius: 0
