@import  "../../global.module.sass"

.secondaryTextbox
    color: $navy
    font-family: $common_font
    border: 0
    outline: none
    border-bottom: 0.02rem solid
    @include phone
        font-size: 0.15rem
        width: 4rem
        border-bottom: 0.02rem solid
