@import  "../../global.module.sass"

.secondaryTextbox
    @include desktop
        color: $navy
        font-family: $common_font
        /*border*/
        border: 0
        border-bottom: 0.02rem solid
        outline: none
    @include phone
        color: $super_blue
        font-family: $common_font
        font-size: 0.15rem
        margin: 0 0 0 0rem
            /*border*/
        width: 4rem
        border: 0
        border-bottom: 0.02rem solid
        outline: none
