@import "../../global.module.sass"

.container
    display: none
    font-size: 1rem
    background-color: $silver
    padding-left: 1rem
    column-gap: 1rem
    margin-top: 0.5rem
    @include phone
        display: flex
        column-gap: 2rem
